<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
  <libraries library-dir="lib/"/>
  <depends plugin-name="org.hortonmachine.gvsig.base"/>
  <depends plugin-name="org.gvsig.view3d.app" />
  <resourceBundle name="text"/>
<extensions>
		<extension
			class-name="org.hortonmachine.gvsig.geopaparazzi.GenerateTilesExtension"
			description="" active="true" priority="1">

			<action name="create-geopaparazzi-tiles" 
				label="Create Geopaparazzi Tiles"
				tooltip="Create a MBTiles database for Geopaparazzi from the current view" 
				action-command="create-geopaparazzi-tiles"
				icon="pictures" 
				position="001009000000"
				accelerator="" />

			<menu text="HMachine/Geopaparazzi/Create Geopaparazzi Tiles" 
					name="create-geopaparazzi-tiles" />

		</extension>
		<!-- 
		<extension
			class-name="org.hortonmachine.gvsig.geopaparazzi.ProjectsViewerExtension"
			description="" active="true" priority="2">

			<action name="open-geopaparazzi-viewer" 
				label="Open Projects Viewer"
				tooltip="Open the Geopaparazzi projects folder viewer" 
				action-command="open-geopaparazzi-viewer"
				icon="database_picture" 
				position="001010000000"
				accelerator="" />

			<menu text="HMachine/Geopaparazzi/Open Projects Viewer" 
					name="open-geopaparazzi-viewer" />

		</extension>
		 -->
		
		<extension
			class-name="org.hortonmachine.gvsig.geopaparazzi.GeopaparazziMediaOpenerExtension"
			description="" active="true" priority="3">

			<action name="gpap-media-open-tool" 
				label="Open Media Images"
				tooltip="Open Media Images from a Geopaparazzi Media layer" 
				action-command="gpap-media-open-tool"
				icon="picture_link" 
				position="001011000000"
				accelerator="" />

			<menu text="HMachine/Geopaparazzi/Open Media Images" 
					name="gpap-media-open-tool" />

		</extension>
	</extensions>
</plugin-config>


