<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
<!-- 	<depends plugin-name="org.gvsig.app.mainplugin" /> -->
	<depends plugin-name="org.hortonmachine.gvsig.base" />
	<resourceBundle name="text" />
	<libraries library-dir="lib" />
	<extensions>
		<extension
			class-name="org.hortonmachine.gvsig.epanet.CreateProjectFilesExtension"
			description="" active="true" priority="1">

			<action name="create-epanet-project-files" 
				label="Epanet Project Files"
				tooltip="Create Epanet Project Base Files" 
				action-command="create-epanet-project-files"
				icon="new_project" 
				position="001009000000"
				accelerator="" />

			<menu text="HMachine/Epanet/Create Project Files" 
					name="create-epanet-project-files" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.hortonmachine.gvsig.epanet.SyncEpanetShapefilesExtension"
			description="" active="true" priority="1">

			<action name="sync-epanet-shpfiles" 
				label="Sync Epanet Shapefiles"
				tooltip="Syncronize Epanet's Base Shapefiles" 
				action-command="sync-epanet-shpfiles"
				icon="sync_shps" 
				position="001009000001"
				accelerator="" />

			<menu text="HMachine/Epanet/Sync Project Shapefiles" 
					name="sync-epanet-shpfiles" />

<!-- 			<tool-bar name="Epanet" position="10001">
				<action-tool name="sync-epanet-shpfiles" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.hortonmachine.gvsig.epanet.RunEpanetExtension"
			description="" active="true" priority="1">

			<action name="run-epanet" 
				label="Run Epanet"
				tooltip="Run Epanet on the current view" 
				action-command="run-epanet"
				icon="run_epanet" 
				position="001009000002"
				accelerator="" />

			<menu text="HMachine/Epanet/Run Epanet" 
					name="run-epanet" />

<!-- 			<tool-bar name="Epanet" position="10002">
				<action-tool name="run-epanet" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.hortonmachine.gvsig.epanet.ViewEpanetResultsExtension"
			description="" active="true" priority="1">

			<action name="view-epanet-results" 
				label="View Epanet Results"
				tooltip="View the results of an Epanet simulation" 
				action-command="view-epanet-results"
				icon="result" 
				position="001009000004"
				accelerator="" />

			<menu text="HMachine/Epanet/View Results" 
					name="view-epanet-results" />

<!-- 			<tool-bar name="Epanet" position="10003">
				<action-tool name="view-epanet-results" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.hortonmachine.gvsig.epanet.StyleLayersExtension"
			description="" active="true" priority="1">

			<action name="style-epanet-shpfiles" 
				label="Style Layers"
				tooltip="Style Epanet Layers" 
				action-command="style-epanet-shpfiles"
				icon="style_shps" 
				position="001009000005"
				accelerator="" />

			<menu text="HMachine/Epanet/Style Layers" 
					name="style-epanet-shpfiles" />

<!-- 			<tool-bar name="Epanet" position="10003">
				<action-tool name="view-epanet-results" />
			</tool-bar> -->

		</extension>
	</extensions>
</plugin-config>
