<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
  <libraries library-dir="lib/"/>
  <depends plugin-name="org.jgrasstools.gvsig.base"/>
  <resourceBundle name="text"/>
<extensions>
		<extension
			class-name="org.jgrasstools.gvsig.pointinfo.PointInfoExtension"
			description="" active="true" priority="1">

			<action name="run-pointinfo-tool" 
				label="Position Info"
				tooltip="A Simple Position Info Tool" 
				action-command="run-pointinfo-tool"
				icon="copy" 
				position="001009000001"
				accelerator="" />

			<menu text="JGTools/Tools/Position Info" 
					name="run-pointinfo-tool" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.jgrasstools.gvsig.wkttools.WktGeometryToolsExtension"
			description="" active="true" priority="1">

			<action name="wkt-geometry-tool" 
				label="WKT Geometry Tool"
				tooltip="A Tool to work with WKT geometries" 
				action-command="wkt-geometry-tool"
				icon="copy" 
				position="001009000002"
				accelerator="" />

			<menu text="JGTools/Tools/WKT Geometry Tool" 
					name="wkt-geometry-tool" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.jgrasstools.gvsig.prjtools.PrjToolsExtension"
			description="" active="true" priority="1">

			<action name="open-prj-tools" 
				label="Prj Tools"
				tooltip="A Tool to work with PRJs" 
				action-command="open-prj-tools"
				icon="copy" 
				position="001009000003"
				accelerator="" />

			<menu text="JGTools/Tools/Prj Tools" 
					name="open-prj-tools" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.jgrasstools.gvsig.featurebrowser.FeatureBrowserExtension"
			description="" active="true" priority="1">

			<action name="feature-browser-tools" 
				label="Feature Browser"
				tooltip="A Tool to navigate the features in a layer" 
				action-command="feature-browser-tools"
				icon="copy" 
				position="001009000004"
				accelerator="" />

			<menu text="JGTools/Tools/Feature Browser" 
					name="feature-browser-tools" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
	</extensions>
</plugin-config>


