<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
  <libraries library-dir="lib/"/>
  <depends plugin-name="org.jgrasstools.gvsig.base"/>
  <resourceBundle name="text"/>
<extensions>
		<extension
			class-name="org.jgrasstools.gvsig.pointinfo.PointInfoExtension"
			description="" active="true" priority="1">

			<action name="run-pointinfo-tool" 
				label="Position Info"
				tooltip="A Simple Position Info Tool" 
				action-command="run-pointinfo-tool"
				icon="copy" 
				position="001009000000"
				accelerator="" />

			<menu text="JGTools/Tools/Position Info" 
					name="run-pointinfo-tool" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
	</extensions>
</plugin-config>


