<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
  <libraries library-dir="lib/"/>
  <depends plugin-name="org.hortonmachine.gvsig.base"/>
  <resourceBundle name="text"/>
<extensions>
		<extension
			class-name="org.hortonmachine.gvsig.pointinfo.PointInfoExtension"
			description="" active="true" priority="1">

			<action name="run-pointinfo-tool" 
				label="Position Info"
				tooltip="A Simple Position Info Tool" 
				action-command="run-pointinfo-tool"
				icon="copy" 
				position="001009000001"
				accelerator="" />

			<menu text="HMachine/Tools/Position Info" 
					name="run-pointinfo-tool" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.hortonmachine.gvsig.wkttools.WktGeometryToolsExtension"
			description="" active="true" priority="1">

			<action name="wkt-geometry-tool" 
				label="WKT Geometry Tool"
				tooltip="A Tool to work with WKT geometries" 
				action-command="wkt-geometry-tool"
				icon="copy" 
				position="001009000002"
				accelerator="" />

			<menu text="HMachine/Tools/WKT Geometry Tool" 
					name="wkt-geometry-tool" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.hortonmachine.gvsig.prjtools.PrjToolsExtension"
			description="" active="true" priority="1">

			<action name="open-prj-tools" 
				label="Prj Tools"
				tooltip="A Tool to work with PRJs" 
				action-command="open-prj-tools"
				icon="copy" 
				position="001009000003"
				accelerator="" />

			<menu text="HMachine/Tools/Prj Tools" 
					name="open-prj-tools" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.hortonmachine.gvsig.featurebrowser.FeatureBrowserExtension"
			description="" active="true" priority="1">

			<action name="feature-browser-tools" 
				label="Feature Browser"
				tooltip="A Tool to navigate the features in a layer" 
				action-command="feature-browser-tools"
				icon="copy" 
				position="001009000004"
				accelerator="" />

			<menu text="HMachine/Tools/Feature Browser" 
					name="feature-browser-tools" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		
		<extension
			class-name="org.hortonmachine.gvsig.raster.styler.RasterStyleExtension"
			description="" active="true" priority="1">

			<action name="style-singleband-raster" 
				label="Single Band Raster Styler"
				tooltip="Simple Single Band Raster Styler" 
				action-command="style-singleband-raster"
				icon="raster_icon" 
				position="001009100001"
				accelerator="" />

			<menu text="HMachine/Tools/Raster Styler" 
					name="style-singleband-raster" />

		</extension>
		
		<extension
			class-name="org.hortonmachine.gvsig.raster.valuecopy.RasterValuesCopyExtension"
			description="" active="true" priority="1">

			<action name="copy-raster-values" 
				label="Raster Values Copy"
				icon="copy" 
				tooltip="Copies the current visible values of the selected raster" 
				action-command="copy-raster-values"
				position="001009100002"
				accelerator="" />

		</extension>
		
		<extension
			class-name="org.hortonmachine.gvsig.raster.graphics.RasterGraphicsExtension"
			description="" active="true" priority="1">

			<action name="quick-raster-graphics" 
				label="Raster Graphics View"
				icon="raster_icon" 
				tooltip="Shows as mapoverlay the values of the raster map." 
				action-command="quick-raster-graphics"
				position="001009100002"
				accelerator="" />

		</extension>
		
		<extension
			class-name="org.hortonmachine.gvsig.utils.OpenFilemanagerOnPathExtension"
			description="" active="true" priority="1">

			<action name="open-file-on-path" 
				label="Open file path"
				icon="folder" 
				tooltip="Opens the system file browser in the current file path" 
				action-command="open-file-on-path"
				position="001009100010"
				accelerator="" />

		</extension>
	</extensions>
</plugin-config>


