<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- gvSIG. Desktop Geographic Information System. Copyright (C) 2007-2013 
	gvSIG Association. This program is free software; you can redistribute it 
	and/or modify it under the terms of the GNU General Public License as published 
	by the Free Software Foundation; either version 3 of the License, or (at 
	your option) any later version. This program is distributed in the hope that 
	it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
	of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General 
	Public License for more details. You should have received a copy of the GNU 
	General Public License along with this program; if not, write to the Free 
	Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, 
	USA. For any additional information, do not hesitate to contact us at info 
	AT gvsig.com, or visit our website www.gvsig.com. -->
<plugin-config>
	<depends plugin-name="org.gvsig.app.mainplugin" />
	<depends plugin-name="org.jgrasstools.gvsig.base" />
	<resourceBundle name="text" />
	<libraries library-dir="lib" />
	<extensions>
		<extension
			class-name="org.jgrasstools.gvsig.epanet.CreateProjectFilesExtension"
			description="" active="true" priority="1">

			<action name="create-epanet-project-files" 
				label="Epanet Project Files"
				tooltip="Create Epanet Project Base Files" 
				action-command="create-epanet-project-files"
				icon="new_project" 
				position="001009000000"
				accelerator="" />

			<menu text="JGrasstools/Epanet" 
					name="create-epanet-project-files" />

			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar>

		</extension>
	</extensions>
</plugin-config>
