<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
  <libraries library-dir="lib/"/>
  <depends plugin-name="org.jgrasstools.gvsig.base"/>
  <resourceBundle name="text"/>
<extensions>
		<extension
			class-name="org.jgrasstools.gvsig.spatialtoolbox.SpatialtoolboxExtension"
			description="" active="true" priority="1">

			<action name="run-spatial-toolbox" 
				label="JGT Spatial Toolbox"
				tooltip="Open the Spatial Toolbox"  
				action-command="run-spatial-toolbox"
				icon="blocks" 
				position="001009000000"
				accelerator="" />

			<menu text="JGTools/Spatial Toolbox" 
					name="run-spatial-toolbox" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
		<extension
			class-name="org.jgrasstools.gvsig.spatialtoolbox.RasterStyleExtension"
			description="" active="true" priority="1">

			<action name="style-singleband-raster" 
				label="Raster Styler"
				tooltip="Simple Single Band Raster Styler" 
				action-command="style-singleband-raster"
				icon="raster_icon" 
				position="001009000000"
				accelerator="" />

			<menu text="JGTools/Tools/Raster Styler" 
					name="style-singleband-raster" />

<!-- 			<tool-bar name="Epanet" position="10000">
				<action-tool name="create-epanet-project-files" />
			</tool-bar> -->

		</extension>
	</extensions>
</plugin-config>


